body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.contenedor {
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 85%;
    max-width: 400px;
}
button {
    background-color: #1e3a8a; /* Azul institucional */
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
